RESEND_API_KEY=re_123456789_your_key_here
SENDER_EMAIL="WHTC Website <no-reply@lockout-tagout.ro>"
CONTACT_EMAIL=office@lockout-tagout.ro,office@lttlock.com
# Cloudflare Turnstile
PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA