---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import Divisions from '../components/Divisions.astro';
import Engineering from '../components/Engineering.astro';
import Contact from '../components/ContactSection.astro';
import Partners from '../components/PartnersStrip.astro';
import Footer from '../components/PageFooter.astro';
---

<Layout title="Working Height Training Centre SRL">
	<Navbar />
	<main>
		<Hero />
		<Divisions />
		<Engineering />
		<Contact />
		<Partners />
	</main>
	<Footer />
</Layout>
